@import url('../node_modules/chessboardjs/www/css/chessboard.css');
@import url('../node_modules/chessboardjs/www/css/foundation-3.2.5.min.css');
@import url('../node_modules/chessboardjs/www/css/normalize-2.1.2.min.css');
@import url('../node_modules/chessboardjs/www/css/site.css');
@import url('../node_modules/chessboardjs/www/css/site2.css');


.container {
}

#search-header {
	text-align: center; 
}

#list-header {
	text-align:left; 
	margin-left:3vw; 
	
}

.search-bar {
	text-align: center; 
	padding:10px; 
	width:90%; 
	margin: 0 auto; 
	
}

.search-bar input {
	width:75%; 
	border: 2px solid #dadada;
    border-radius: 7px;
}

.video-item img {
	max-width: 64px; 
}




.video-detail .details {
	margin-top: 10px; 
	padding: 10px; 
	border: 1px solid #ddd; 
	border-radius: 4px; 
}


.list-group {
	margin-left: 2vw; 
}
.list-group-item {
	cursor: pointer; 
}

.list-group-item .video-list .media-left img {
	min-width:100px; 
}

.list-group-item:hover {
	background-color: #eee;
}

.notFound {
	text-align: center; 
}